.folder {
    height: 100%;
    width: 20%;
    background: $bg-folder;

    &__title {
        // height: 2rem;
        width: 100%;
        padding: 2.4rem;
        padding-bottom: 1.4rem;

        &--head {
            font-size: 2rem;
        }

        &--sub {
            font-size: 1.1rem;
            color: $light-black
        }
    }

    &__structure  {
        // border: .1rem solid red;
        padding: 2.6rem 2.4rem;
    }

    &__list {
        margin-bottom: 2rem;
    }

    &__name {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 1.6rem;
        font-weight: bold;
        cursor: pointer;
    }

    &__more-option {

        &-icn {
            height: 2rem;
            width: 2rem;
            cursor: pointer;
        }
    }

    &__subtitle {
        
        margin-top: 1rem;
        margin-left: 2rem;

        &--title {
            font-size: 1.3rem;
            font-weight: bold;
            cursor: pointer;
            transition: all .3s ease-in-out;
            &:not(:last-child) {
                font-weight: normal;
                margin-bottom: 1rem;
            }

            &:hover {
                transform: scale(1.1) translateX(1.6rem);
            }
        }
    }
}



.separator {
    background: $bg-gray;
    height: .15rem;
    width: 100%;
}
