.recent {
    height: 100%;
    width: 45%;
    padding: 2rem 3rem;
    border: .1rem solid red;

    &--title {
        font-size: 1.8rem;
        color: $title-font-color;
        margin-bottom: 1.6rem;
    }

    &--search {
        width: 100%;
        position: relative;

        &-bar {
            width: 100%;
            height: 3rem;
            border-radius: 5rem;
            border: .1rem solid gray;
            padding: 2rem 1rem;
            padding-left: 2.8rem;
        }

        &-icn {
            height: 1.8rem;
            width: 1.8rem;
            position: absolute;
            stroke: gray;
            stroke-width: -10%;
            top: 1rem;
            left: .8rem;
        }
    }

}
