.side-nav {
    width: 8rem;
    height: 100%;
    background: #fff;
   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 1300px) {
        width: 6.5rem;
    }   

    @media (max-width: 990px) {
        width: 5rem;
    }   

    &__icns {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    &__logo {
        position: relative;
        width: 100%;
        height: 7.9rem;
        display: grid;
        place-items: center;

        @media (max-width: 1550px) {
            height: 8.2rem;
        }

        @media (max-width: 1180px) {
            height: 8.3rem;
        }
        
        &::after {
            height: .1rem;
            width: 100%;
            background: $bg-gray;
            bottom: 0;
            left: 0;

            @media (max-width: 1180px) {
                height: 8.2rem;
                height: .2rem;
            }

            @media (max-width: 1111px) {
                display: none;
            }
        }
    }

    &-icn {
        height: 5rem;
        width: 9rem;
        display: grid;
        place-items: center;
        transition: all .3s ease-in-out;
        cursor: pointer;

        &:hover {
            background: $bg-folder;
        }
    }    
}

.main-logo {
    width: 100%;
    height: 5rem;
}

.nav-icn {
    height: 2.8rem;
    width: 2.8rem;
    color: rgb(79, 75, 75);
    cursor: pointer;
}

.question-icn {
    height: 3rem;
    width: 3rem;
    margin-bottom: 1rem;
    cursor: pointer;
    transition: all .3s ease-in-out;

    &:hover {
        fill: rgb(43, 38, 38);
    }
}

