$bg-white: #F2ECE2;
$bg-folder: #f2ebe1;
$bg-black: #111;
$light-black: rgba(0, 0, 0, 0.475);

$title-font-color: lighten($color: $bg-black, $amount: 15%);
$bg-gray: #9D9D9D;

$bg-light-brown: #F0894D;
$bg-recent-1: #FCBEA4;
$bg-recent-1-lighter: darken(#FCBEA4, 10%);
$bg-recent-2: #FCE6BD;
